.introSplash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)),
    url(./../../assets/images/IntroductionBG.webp);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introSplash p {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.introduction .fade-out {
  opacity: 0;
  transition:  1s ease-out;
}
